* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

h1 {
    background-color: midnightblue;
    color: whitesmoke;
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 20px;    
}

h3 {
    font-size: 14px;
}

p, li {
    font-size: 11px;
}
